@import url("https://fonts.googleapis.com/css?family=Lato");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    text-align: left;
    font-family: Josefin Sans;
    color: #fff;
    width: 100%;
    background-color: rgb(253, 235, 221);
}

main {
    top: 0;
    margin: 0;
    padding: 0;
}

.kontakt {
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
    min-width: 85%;
    max-width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    justify-items: center;
    height: 100px;
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(88, 88, 88), rgba(0, 0, 0, 0));
    background-blend-mode: overlay;
    font-weight: bolder;
    font-size: large;
}

.kontakt div:hover {
    color: honeydew;
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
}

.kontakt div a:hover {
    color: honeydew;
    text-shadow: 0 0 0.2em rgb(2, 2, 2), 0 0 0.1em rgb(0, 0, 0);
}

.kontakt .K {
    padding-top: 5px;
}

.tytul {
    top: 0;
    position: relative;
    padding-top: 0px;
    width: 100%;
}

.tabs {
    display: flex;
    justify-items: center;
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    text-align: center;
    margin: 0px;
}

.tabs li {
    float: center;
    display: block;
    width: 100%;
    background-color: chocolate;
}

.tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
}

.tabs label {
    display: block;
    padding: 21px 21px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.tabs label:hover {
    color: honeydew;
    text-shadow: 0 0 0.3em rgb(0, 0, 0), 0 0 0.3em rgb(0, 0, 0);
}

.tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
}

[id^="tab"]:checked+label {
    top: 0;
    padding-top: 17px;
}

[id^="tab"]:checked~[id^="tab-content"] {
    display: block;
}

.Plista {
    font-weight: bold;
    font-size: 20px;
}

.Atytul {
    font-size: 25px;
}

.A {
    padding-bottom: 40px;
}

.A p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

a:hover {
    font-weight: bolder;
}

img:hover {
    opacity: 80%;
}

.tytul img:hover {
    opacity: 1;
}

.arch-content {
    font-size: 18px;
    width: 100%;
    display: flexbox;
    flex-direction: column;
}

.Archtytul {
    display: flex;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 25px;
    font-weight: bolder;
}

.data {
    display: flex;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.data p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    height: auto;
}

.imgfloatleft {
    float: left;
    padding: 10px;
}

.imgfloatright {
    float: right;
    padding: 10px;
}

.ArchJa {
    display: block;
    text-align: center;
    height: 80px;
    background-image: linear-gradient(to top, rgb(88, 88, 88), rgba(0, 0, 0, 0));
    background-blend-mode: overlay;
    font-size: large;
    z-index: 3;
}

.gal-content {
    font-size: 18px;
    width: 100%;
    line-height: 25px;
}

.gal-data {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.Galtytul {
    display: flex;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 25px;
    font-weight: bolder;
}