@import "compass/css3";
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    text-align: left;
    font-family: Lato;
    color: #fff;
    width: 100%;
}

.tabs {
    display: flex;
    justify-items: center;
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    text-align: center;
    margin: 0px;
}

.tabs li {
    float: center;
    display: block;
    width: 100%;
}

.tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
}

.tabs label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    padding: 150px;
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
}

[id^="tab"]:checked+label {
    top: 0;
    padding-top: 17px;
}

[id^="tab"]:checked~[id^="tab-content"] {
    display: block;
}

.Atytul {
    font-size: 25px;
}

.A {
    padding-bottom: 40px;
}

.A p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}